<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
   <system.web.extensions>
      <scripting>
          <webServices>
              <jsonSerialization maxJsonLength="2147483644" />
          </webServices>
      </scripting>
  </system.web.extensions>

  
  <system.web>
    <sessionState timeout="1500"></sessionState>
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <httpRuntime maxRequestLength="157286400" executionTimeout="900" />
        <identity impersonate="false" /> 
  </system.web>
  <system.webServer> 
      <security> 
          <requestFiltering> 
                  <requestLimits maxAllowedContentLength="4294967295" /> 
               </requestFiltering> 
      </security> 
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DeltekVisionOpenAPIWebServiceSoap" />
        <binding name="DeltekVisionOpenAPIWebServiceSoap1"
           maxReceivedMessageSize="20000000"
           maxBufferSize="20000000"
           maxBufferPoolSize="20000000"
           openTimeout="00:10:00"
           closeTimeout="00:10:00"
           sendTimeout="00:10:00"
           receiveTimeout="00:10:00"
                         >
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Certificate" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://vision.mlaw-eng.com/vision/VisionWs.asmx" binding="basicHttpBinding"
          bindingConfiguration="DeltekVisionOpenAPIWebServiceSoap" contract="mlaw_vision.DeltekVisionOpenAPIWebServiceSoap"
          name="DeltekVisionOpenAPIWebServiceSoap" />
      <endpoint address="https://vision.mlaw-eng.com/vision/VisionWs.asmx" binding="basicHttpBinding"
          bindingConfiguration="DeltekVisionOpenAPIWebServiceSoap1"
          contract="ServiceReference1.DeltekVisionOpenAPIWebServiceSoap"
          name="DeltekVisionOpenAPIWebServiceSoap1" />
    </client>
  </system.serviceModel>
</configuration>